@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body{
    margin:0;
    font-family: 'Montserrat',sans-serif;
    background-image: url("https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.navbar-brand{
    margin: 0;
    padding: 0 ;
}
.navbar-header{
    margin:0;
    padding: 0.8em 0;
    /*color:white;*/
}

.navbar{
    margin:0;
    padding: 0;
}
.collapse .navbar-collapse{
    padding: 1em 4em 0;
}


.logo{
    width:10%;
    padding: 0 0 6em ;
}
