@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body{
    margin:0;
    font-family: 'Montserrat',sans-serif;
    background-image: url("https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.container{
    text-align: center;
    padding: .8em 1.2em;
}

h1{
    font-size: 3.0em;
    color:black;
}

.navbar{
    margin:0;
    padding: 0;
}

.navbar-header{
    margin:0;
    padding: 0.8em 0;
    /*color:white;*/
}
.navbar-brand{
    margin: 0;
    padding: 0 ;
}


.logo{
    width:10%;
    padding: 0 0 6em ;
}


.row{
    background-color: white;
    width: 600px;
    position: center;
    margin: 12em 0 0 20em;
    border-radius: 10%;
}

.form-group{
    padding: 1em 0;
}

.col-sm-6 .col-sm-offset-3{
    padding: 0 0 0 5em;
}
